@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject HttpClient _httpClient
@inject IUserService userService

<div class="page">

    <main>
        

        <AuthorizeView>
            <Authorized>
        <div class="top-row px-4">
            <RadzenButton Click=@(args => BackToHome()) Text="صفحه اصلی" ButtonStyle="ButtonStyle.Primary" />
        </div>
            </Authorized>
            <NotAuthorized>
        <div class="top-row px-4">
            <RadzenButton Click=@(args => LoginUser()) Text="ورود" ButtonStyle="ButtonStyle.Primary" />
        </div>
            </NotAuthorized>
        </AuthorizeView>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    public async Task LoginUser()
    {
        NavigationManager.NavigateTo("/login");
    }

    public async Task BackToHome()
    {
        NavigationManager.NavigateTo("/");
    }

}


<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>