@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject HttpClient _httpClient
@inject IUserService userService

<div class="page">

    <main>
        <div class="top-row px-4">
            <RadzenButton Click=@(args => LoginUser()) Text="وارد شوید" ButtonStyle="ButtonStyle.Primary" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    public async Task LoginUser()
    {
        NavigationManager.NavigateTo("/login");
    }

}


<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>